<!DOCTYPE html>
<html>
<head>
<link  rel="stylesheet" href="/css/bootstrap.min.css">
	
    <link rel="stylesheet" href="/css/dataTables.bootstrap.css">
    
    <script  type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.bootstrap.js"></script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- Start navbar -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GTC Movember</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="/upload">Upload</a></li>
              <li><a href="/email">Contact</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/employee">EmployeeForm</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="active"><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
          </ul>
        </div> 
      </div>
    </nav>
    <!-- End navbar -->

</body>
</html>