<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

  <div th:insert="header.html">
  
  </div>
 

   <table  id="myTable" class="table table-stripted">
      <thead>
       <tr class="success">
           <td>First Name</td>
           <td>Last Name</td>
           <td>Company</td>
           <td>City</td>
           <td>Action</td>
       
       </tr>
      </thead>
      
      <tbody >
             <tr  th:each="emp:${elist}" class="danger">
           <td  th:text="${emp.fname}"></td>
           <td th:text="${emp.lname}"></td>
           <td th:text="${emp.company}"></td>
           <td th:text="${emp.address.city}"></td>
           <td>
              <a class="btn btn-success" th:href="@{/edit/{id}(id=${emp.id})}"> Edit </a>
              <a class="btn btn-danger" th:href="@{/delete/{id}(id=${emp.id})}"> Delete </a>
              
           
           </td>
       
       </tr>
      
  </tbody>
   
   </table>

 <script type="text/javascript">
 
 $(document).ready( function () {
     $('#myTable').DataTable();
 } );
 
 </script>

</body>
</html>