<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Signup</h2>

  <form action="userSignup" method = "post" class="login-container">
    <p><input type="text" placeholder="FirstName" name = "fname" ></p>
    <p><input type="text" placeholder="LastName" name = "lname" ></p>
    <p><input type="text" placeholder="UserName" name = "username"></p>
    <p><input type="password" placeholder="Password" name ="password"></p>
    <p><input type="submit" value="Signup"></p>
  </form>
</div>


</body>
</html>